@model Category

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form method="post">
    <div class="container">
        <br />
        <label>Kategori Adı</label>
        <input type="text" asp-for="CategoryName" class="form-control" />
        <br />
        <button class="btn btn-outline-primary">Kategoriyi Ekle</button>
    </div>
</form>